/*
Version: @@ver@@ Timestamp: @@timestamp@@
*/
/* line 4, ../scss/select2.scss */
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

/* line 17, ../scss/select2.scss */
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}

/* line 29, ../scss/select2.scss */
.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: none;
  white-space: nowrap;
  line-height: 26px;
  color: #399DEB;
  font-size: 21px;
  text-decoration: none;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
}

/* line 57, ../scss/select2.scss */
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  border-radius: 0 0 4px 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.9, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 90%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 90%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 90%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, white 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 0%, #ffffff 90%);
}

/* line 71, ../scss/select2.scss */
.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px;
}

/* line 75, ../scss/select2.scss */
.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 85, ../scss/select2.scss */
.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  outline: 0;
}

/* line 102, ../scss/select2.scss */
.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}

/* line 106, ../scss/select2.scss */
.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

/* line 111, ../scss/select2.scss */
.select2-drop-undermask {
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9998;
  background-color: transparent;
  filter: alpha(opacity=0);
}

/* line 123, ../scss/select2.scss */
.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 137, ../scss/select2.scss */
.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

/* line 151, ../scss/select2.scss */
.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
}

/* line 156, ../scss/select2.scss */
.select2-drop-auto-width .select2-search {
  padding-top: 4px;
}

/* line 160, ../scss/select2.scss */
.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

/* line 171, ../scss/select2.scss */
.select2-drop-active {
  margin-top: 5px;
  border: 1px solid #399DEB;
  min-width: 75px;
}

/* line 177, ../scss/select2.scss */
.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #5897fb;
}

/* line 181, ../scss/select2.scss */
.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: none;
}

/* line 191, ../scss/select2.scss */
.select2-container .select2-choice .select2-arrow b {
  position: absolute;
  top: 12px;
  left: 0px;
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #399DEB;
}

/* line 204, ../scss/select2.scss */
.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}

/* line 218, ../scss/select2.scss */
.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 236, ../scss/select2.scss */
.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px;
}

/* line 245, ../scss/select2.scss */
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: none;
  outline: none;
}

/* line 250, ../scss/select2.scss */
.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  background-color: #fff;
}

/* line 256, ../scss/select2.scss */
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center top, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(bottom, white 0%, #eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(bottom, #ffffff 0%, #eeeeee 50%);
}

/* line 269, ../scss/select2.scss */
.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}

/* line 274, ../scss/select2.scss */
.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}

/* results */
/* line 279, ../scss/select2.scss */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 289, ../scss/select2.scss */
.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}

/* line 294, ../scss/select2.scss */
.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px;
}

/* line 295, ../scss/select2.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px;
}

/* line 296, ../scss/select2.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px;
}

/* line 297, ../scss/select2.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px;
}

/* line 298, ../scss/select2.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px;
}

/* line 299, ../scss/select2.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px;
}

/* line 300, ../scss/select2.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px;
}

/* line 302, ../scss/select2.scss */
.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}

/* line 308, ../scss/select2.scss */
.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

/* line 312, ../scss/select2.scss */
.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 327, ../scss/select2.scss */
.select2-results .select2-highlighted {
  background: #399DEB;
  color: #fff;
}

/* line 332, ../scss/select2.scss */
.select2-results li em {
  background: #feffde;
  font-style: normal;
}

/* line 337, ../scss/select2.scss */
.select2-results .select2-highlighted em {
  background: transparent;
}

/* line 341, ../scss/select2.scss */
.select2-results .select2-highlighted ul {
  background: white;
  color: #000;
}

/* line 349, ../scss/select2.scss */
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
}

/*
disabled look for disabled choices in the results dropdown
*/
/* line 357, ../scss/select2.scss */
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

/* line 363, ../scss/select2.scss */
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

/* line 369, ../scss/select2.scss */
.select2-results .select2-selected {
  display: none;
}

/* line 377, ../scss/select2.scss */
.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */
/* line 384, ../scss/select2.scss */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

/* line 391, ../scss/select2.scss */
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

/* line 397, ../scss/select2.scss */
.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

/* multiselect */
/* line 404, ../scss/select2.scss */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -ms-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
}

/* line 424, ../scss/select2.scss */
.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

/* line 428, ../scss/select2.scss */
.select2-container-multi .select2-choices {
  min-height: 26px;
}

/* line 432, ../scss/select2.scss */
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 439, ../scss/select2.scss */
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

/* line 443, ../scss/select2.scss */
.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* line 449, ../scss/select2.scss */
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}

/* line 467, ../scss/select2.scss */
.select2-default {
  color: #999 !important;
}

/* line 471, ../scss/select2.scss */
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
}

/* line 504, ../scss/select2.scss */
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}

/* line 507, ../scss/select2.scss */
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

/* line 511, ../scss/select2.scss */
.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
}

/* line 523, ../scss/select2.scss */
.select2-container-multi .select2-search-choice-close {
  left: 3px;
}

/* line 527, ../scss/select2.scss */
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}

/* line 530, ../scss/select2.scss */
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */
/* line 535, ../scss/select2.scss */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

/* line 542, ../scss/select2.scss */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}

/* line 549, ../scss/select2.scss */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}

/* end multiselect */
/* line 556, ../scss/select2.scss */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

/* line 560, ../scss/select2.scss */
.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  outline: 0;
  left: 0px;
}

/* line 573, ../scss/select2.scss */
.select2-display-none {
  display: none;
}

/* line 577, ../scss/select2.scss */
.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* line 588, ../scss/select2.scss */
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }

  /* line 592, ../scss/select2.scss */
  .select2-search input {
    background-position: 100% -21px !important;
  }
}
